**/.ipynb_checkpoints
**/__pycache__
*.mp4
*.npy
*.npz
*.dae
*.json
blender-3.2.2-linux-x64
data/material_lib/mat_images
data/material_lib/pbr_maps
experiments
experiments_szy
experiments_tmp
data_0
output
tmp
main_mod.py
scripts/gpt_eval
som/ckpts/swinl_only_sam_many2many.pth
.idea
.vscode